.imagePreview{
  flex-basis: 100%;
  background-position: center;
  background-size: contain;
  min-width: 300px;
  
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}


@media only screen and (max-width: 1024px) {
  .imagePreview{
    margin-top: 70px;
    height: 500px;
  }
}


@media only screen and (max-width: 600px) {
  .imagePreview{
    height: 350px;
  }
}
